.inputCrop{
    background-color: #ffbf23 !important;
    border: none !important;
}

.btn-change-file{
    display: flex;
    justify-content: center;
}

.main-part{
    display: inline !important;
}

.changePicture{
    margin-left: 0.6rem;
    width: 19rem;
}

.changePicture-in{
    margin-left: 16px !important;
    margin-top: 1.5rem !important;
}

.validate {
    margin-top: 2rem !important;
}


@media (min-width: 769px){
    .validate {
        margin-top: 0 !important;
    }
    .changePicture-in{
        margin-top: 0 !important;
    }
}