.inputCrop{
    background-color: #ffbf23 !important;
    border: none !important;
}

.btn-change-file{
    display: flex;
    justify-content: center;
}

.main-part{
    display: inline !important;
}

.changePicture{
    margin-left: 0.6rem;
    width: 19rem;
}

.changePicture-in{
    width: 239px;
    border-radius: 4px;
}


@media (min-width: 769px){
    .changePicture-in{
        width: 205px;
    }
}