.popup-img-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.popup-img-body{
    padding: 4rem;
    margin-top: 10rem;
    justify-content: center;
}

.valider{
    display: block;
    margin: auto;
}


.MuiSlider-track{
    color: #ffbf23 !important;
}

.popup-img-body span {
    color: white !important;
}

.popup-img-body button{
    color: white !important;
    background-color: #ffbf23 !important;
    font-weight: lighter;
    font-size: 15px;
}