form {
    width: auto;
    margin-top: 15px;
}

.new-boutique__arrows {
    width: auto;
    height: auto;
    margin-top: 0.6rem;
}

.new-boutique__arrows button {
    background-color: white;
    border-radius: 50%;
    display: flex;
}

.new-boutique__errorMessage {
    color: #fe393c;
    text-align: center;
    margin-bottom: 0.6rem;
}
