.progress-bar {
    margin-top: 2rem;
    background-color: #ddd;
    height: 20px;
    width: 100%;
    text-align: center;
}

.progress-bar-fill {
    background-color: #07875d;
    height: 100%;
}

.progress-bar-label {
    color: black;
    font-size: 15px;
    margin-left: 10%;
}