
.crop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
}

.ReactCrop{
    width: 30%;
}


.crop-controls{
    margin-bottom: 2rem;
}